<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.raffadndm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="sensor"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MusicActivity"
            android:label="MusicActivity"
            android:parentActivityName=".BandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BandActivity" />
        </activity>
        <activity
            android:name=".PhotoLiveActivity"
            android:label="PhotoLiveActivity"
            android:parentActivityName=".LiveActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LiveActivity" />
        </activity>
        <activity
            android:name=".PostersActivity"
            android:label="PostersActivity"
            android:parentActivityName=".BandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BandActivity" />
        </activity>
        <activity
            android:name=".LiveActivity"
            android:label="LiveActivity"
            android:parentActivityName=".BandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BandActivity" />
        </activity>

        <activity
            android:name=".BandActivity"
            android:label="BandActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".InfoActivity"
            android:label="InfoActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GithubActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="GalleryActivity"
            android:parentActivityName=".PhotoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PhotoActivity" />
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:label="PhotoActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>